@model ASP_NET_MVC_Q4.Models.DepartmentModel
<!DOCTYPE html>
<html>
<head>
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script src="~/Scripts/Index.js"></script>
</head>
<body>
    <font face="微軟正黑體" size="5">部門及員工資訊</font>
    <div>
        部門:   @Html.DropDownListFor(m => m.Id, ViewData["Department"] as IEnumerable<SelectListItem>, new { @onchange = "getEmployee(this.value)" })
    </div>
    <div>
        員工:  <select id="Employee"></select>
    </div>
    <button onclick="submit()">送出</button>
    <div>
        <span>員工資料:</span>
        <span id="Check"></span>
    </div>
</body>
</html>



